---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/products(longDescription=sennheiser%20headphones%20white*%7Csku=7619002)?apiKey=pr68afecws2rqzs6nppydn5f&facet=salePrice&format=json&page=5&pageSize=15&show=customerReviewAverage,shortDescription,image,name,sku,salePrice
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-lax-03.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 61,
          "to": 4,
          "total": 4,
          "currentPage": 5,
          "totalPages": 1,
          "queryTime": "0.007",
          "totalTime": "0.007",
          "partial": false,
          "canonicalUrl": "/v1/products(longDescription=\"sennheiser headphones white*\"|sku=7619002)?show=customerReviewAverage,shortDescription,image,name,sku,salePrice&page=5&format=json&facet=salePrice,10&apiKey=pr68afecws2rqzs6nppydn5f",
          "products": [

          ],
          "facets": {
            "salePrice": {
              "45.99": 1,
              "54.95": 1,
              "89.95": 1,
              "599.98": 1
            }
          }
        }
  recorded_at: Tue, 08 Mar 2016 18:42:57 GMT
recorded_with: VCR 3.0.1
