---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/products(longDescription=sennheiser*%7Csku=7619002)?apiKey=pr68afecws2rqzs6nppydn5f&facet=salePrice&format=json&page=5&pageSize=15&show=customerReviewAverage,shortDescription,image,name,sku,salePrice
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-lax-03.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 61,
          "to": 75,
          "total": 132,
          "currentPage": 5,
          "totalPages": 9,
          "queryTime": "0.011",
          "totalTime": "0.051",
          "partial": false,
          "canonicalUrl": "/v1/products(longDescription=\"sennheiser*\"|sku=7619002)?show=customerReviewAverage,shortDescription,image,name,sku,salePrice&page=5&format=json&facet=salePrice,10&apiKey=pr68afecws2rqzs6nppydn5f",
          "products": [
            {
              "customerReviewAverage": null,
              "shortDescription": "Sound isolation; dynamic, closed transducers; in-line remote and microphone; folding design; stainless-steel construction with leather headband and ear pads",
              "image": "http://images.bestbuy.com/BestBuy_US/images/products/8420/8420027_sa.jpg",
              "name": "Sennheiser - Momentum Around-Ear Headphones - Brown Metallic",
              "sku": 8420027,
              "salePrice": 349.98
            },
            {
              "customerReviewAverage": "5.0",
              "shortDescription": "Stainless steel acoustic pipes; sound isolating; dynamic speaker system; 3-button in-line remote; in-line microphone; tangle-free cable; includes carrying case",
              "image": "http://images.bestbuy.com/BestBuy_US/images/products/4434/4434003_sa.jpg",
              "name": "Sennheiser - MOMENTUM Earbud Headphones - Black Chrome",
              "sku": 4434003,
           [...]
