---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/products(longDescription=sennheiser%20headphones*%7Csku=7619002)?apiKey=pr68afecws2rqzs6nppydn5f&facet=salePrice&format=json&page=5&pageSize=15&show=customerReviewAverage,shortDescription,image,name,sku,salePrice
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-lax-04.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 61,
          "to": 75,
          "total": 75,
          "currentPage": 5,
          "totalPages": 5,
          "queryTime": "0.006",
          "totalTime": "0.044",
          "partial": false,
          "canonicalUrl": "/v1/products(longDescription=\"sennheiser headphones*\"|sku=7619002)?show=customerReviewAverage,shortDescription,image,name,sku,salePrice&page=5&format=json&facet=salePrice,10&apiKey=pr68afecws2rqzs6nppydn5f",
          "products": [
            {
              "customerReviewAverage": "4.8",
              "shortDescription": "SENNHEISER URBANITE On-Ear Headphones: Metal components; foldable design; omnidirectional microphone; in-line remote",
              "image": "http://images.bestbuy.com/BestBuy_US/images/products/9470/9470273_sa.jpg",
              "name": "Sennheiser - URBANITE On-Ear Headphones - Denim",
              "sku": 9470273,
              "salePrice": 139.95
            },
            {
              "customerReviewAverage": "4.8",
              "shortDescription": "SENNHEISER URBANITE On-Ear Headphones: Metal components; foldable design; omnidirectional microphone; in-line remote",
              "image": "http://img.bbystatic.com/BestBuy_US/images/products/9470/9470159_rc.jpg",
              "name": "Sennheiser - URBANITE On-Ear Headphones - Denim Galaxy",
              "sku": 9470159,
              "salePrice": 139.95
            },
      [...]
