<h3>Search for items:</h3>

<%= form_tag('/search') do %>
   <p>
     product:<br />
     <!-- <%= text_field_tag "subject", id: "search-box" %> -->
     <%= text_field_tag :subject, "", id: 'search-box' %>
   </p>
   <p>
     <%= submit_tag 'Submit' %>
   </p>
<% end %>
